<section id="luchadores">
  <div id="luch-container">
    <div class="pesos animate-fade-up animate-once animate-duration-[1000ms] animate-ease-linear hover:scale-50" *ngFor="let campeon of campeones">
      <a href="/luchador/{{campeon.id}}" style="text-decoration: none;"><div id="campeon">
        <div id="img-campeon">
          <img [src]="urlImg + campeon.imagen" alt="">
      </div>
        <div id="info-campeon">
          <p id="text-peso"># {{campeon.peso}}</p>
          <p id="text-nombre">{{campeon.nombre}}</p>

          <p id="text-campeon">Campeon</p>
        </div>
      </div></a>
      <div id="ranking">
        <div class="luchador" *ngFor="let luchador of obtenerPeso(campeon.pesoid)"><a href="/luchador/{{luchador.id}}" style="text-decoration: none;"><p>#{{luchador.rango}}  {{luchador.nombre}}</p></a></div>
      </div>
    </div>
  </div>
</section>
