<section id="loginsection">
<div class="login-container">
  <h2>Login</h2>
  <form id="login-form" (ngSubmit)="log()" >
    <div class="form-group">
      <label for="username">Usuario</label>
      <input type="text" id="username" name="username" [(ngModel)]="user" required>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <div class="form-group">
      <button type="submit">Iniciar sesión</button>
    </div>
    <div *ngIf="confirmacion" class="confirmation-message">
      ¡Inicio de sesión exitoso!
    </div>
    <div *ngIf="isadmin" class="confirmation-message">
      Has entrado como Administrador
    </div>
  </form>
  <div class="form-group">
    <button (click)="register()">Crear una cuenta</button>
  </div>
</div>
</section>
