
.grid-container {
  margin: auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Crea 6 columnas de igual ancho */
  height: 40%;
  width: 80%;
  gap: 10px;

}
@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); /* 2 columnas con el mismo ancho */
  }

}
@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas con el mismo ancho */
  }

}
@media (max-width: 500px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr); /* 2 columnas con el mismo ancho */
  }
  .search-bar{
  
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
  }

}
#img-luchador{
  margin-top: 20px;
  width: 110%;
}
.grid-item {
  display: grid;
  padding: 20px; /* Espaciado interno de las celdas */
transition: 0.5s;
  grid-template-columns: repeat(1, 1fr); /* Crea 6 columnas de igual ancho */
  overflow: hidden;
  height: 250px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1); /* Cambia los valores según tus preferencias */
}
.grid-item:hover {
  transform: scale(1.05);
  background-color: rgba(230, 216, 94, 0.479);
}
#linea{
  width: 100%;
  height: 1px;
  background-color: black;
}
a {
 text-decoration: none;
 color: black;
}.search-container {
  max-width: 600px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Márgenes automáticos para centrar */
}

.search-bar {
  display: flex;
  align-items: center;
}

#search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

#weight-filter {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.container {
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin: 0 auto; /* Centra horizontalmente */
  align-items: center;
  text-align: center;
  justify-content: center;
}

.search-bar {
  margin-bottom: 20px; /* Añade un espacio entre la barra de búsqueda y la cuadrícula */
  margin-top: 20px;
}
#Record{
  color: rgb(63, 63, 63);
  font-size: 13px;
  font-weight: 250;
}
