h1{
  margin-top: 20px;
  text-align: center;
  font-family: 'Public Sans';
  font-style: italic;
  font-weight: 600;
  font-size: 35px;
  line-height: 56px;
  color: #000000;
}
/* Grid Para Combates */
#combate {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crea tres columnas de tamaño igual */
  height: 100%;
  padding: 20px;
  transition: 0.5s;
}


#combate:hover{
  background-color: #d6d6d6;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}
#fondo{
background-color: #ffffff;
height: 100%;
}
#luch1,
#central,
#luch2 {
  height: 600px;
}
#central{
  display: flex;
  justify-content: center;

}
/* Frame */
#cartel {
  margin-top: 30px;
  background-color: #BB9F56;
  width: 50%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#Layer_cartel {
  width: 60%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#linea-cartel {
  fill: rgb(5, 5, 5) !important;
  width: 100px;
  height: 50px;
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
}

#num-evento{
  width: 100px;
  height: 50px;
  position: absolute;
  top: 45%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-family: 'Public Sans';
  font-style: italic;
  font-weight: 900;
  font-size: 60px;
  letter-spacing: -0.01em;
  font-feature-settings: 'tnum' on, 'lnum' on;
  text-shadow: 0px 4px 4px rgba(30, 17, 17, 0.25);
}
#img-vs {
  width: 50%;
  position: relative;
  top: 120%;
}
#peso-home{
  position: absolute;
  top: 120%;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #6C6C6C;
  text-transform: uppercase;
}
#info{
  width: 90%;
}
#luch1 , #luch2{
  display: grid;
  position: relative;
  grid-template-columns: repeat(2 , 1fr);
  justify-content: center;
  align-items: center;
  font-family: 'Public Sans';
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

}
#imagen-luchador{
  width: 95%;
  position: relative;
  top: 16%;

}
#pais{
  position: absolute;
  top: 90%;

}
#linea {
  margin: auto;
  border: 1px solid #E31D1C;
  width: 500px;
  margin-bottom: 30px;
}
#line {
  border: 1px solid #e31c1c70;
  margin-top: 80px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}




@media (max-width: 1000px) {
  #combate {
    grid-template-columns: repeat(1, 1fr); /* 2 columnas con el mismo ancho */
  }

}
@media (max-width: 1000px) {
  #imagen-luchador{
    width: 95%;
    position: relative;
    top: 10%;

  }
.combate{
  display: none;
}
#central.combate{
  height: 500px;
}
}
@media (max-width: 380px) {
  #imagen-luchador{
    width: 100%;
    position: relative;
    top: 10%;

  }
  #luch1 p , #luch2 p {
    font-size: 15px;
  }
  #num-evento{
    font-size: 50px;
  }
  #linea-cartel{
    width: 50%;
  }
.combate{
  display: none;
}
#central.combate{
  height: 500px;
}
}