<section id="sugerencias">
<form id="formulario">
<label for="nombre">Tu nombre :</label>
<input type="text">
<label for="mail">Tu correo :</label>
<input type="text">
<label for="peso">Elige el peso :</label>
<select name="peso" id="peso">
  <option value="jose">Jose</option>
</select>
<label for="luch1">Primer luchador :</label>
<select name="luch1" id="luch1">
  <option value="jose">Jose</option>
</select>
<label for="luch2">Segundo luchador :</label>
<select name="luch2" id="luch2">
  <option value="jose">Jose</option>
</select>
<label for="desc">Poque te gustaria</label>
<input type="text" id="largo">
</form>
</section>
